body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px; /* Limita a largura máxima do container */
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px; /* Aumenta o padding para mais espaço interno */
    background-color: #fafafa; /* Fundo levemente cinza */
}

#output-message {
    margin-top: 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    color: #5cb85c; /* Cor do texto do legend */
}

.greetings-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.greetings-option {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Espaçamento entre as opções */
}

.contact-channel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* Espaçamento entre os elementos da grid */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Transição suave para a borda */
}

textarea {
    height: 150px;
    resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilo dos botões */
.button-container {
    display: flex; /* Alinha os botões lado a lado */
    justify-content: space-between; /* Espaça os botões igualmente */
}

input[type="button"] {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1; /* Faz com que os botões ocupem o mesmo espaço */
    margin: 0 5px; /* Espaçamento entre os botões */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

#generateButton {
    background-color: #5cb85c; /* Verde */
}

#newTabButton {
    background-color: #f0ad4e; /* Amarelo */
}

#clearButton {
    background-color: #d9534f; /* Vermelho */
}

input[type="button"]:hover {
    opacity: 0.9; /* Efeito de hover para todos os botões */
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #aaa;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #5cb85c; /* Cor da borda ao focar */
    outline: none;
}

#generatedMessage {
    background-color: #e9ecef; /* Fundo levemente cinza para a mensagem gerada */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Permite quebras de linha */
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="button"] {
        padding: 10px;
    }
}